* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Contenedor General*/
#contenedor {
  background-color: #ccc;
  width: 90%;
  margin: 0 auto;
}

#header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-logo {
  width: 8%;
  margin-right: 20px;
}

#header h1{
    margin-left: 20px;
    font-size:3rem;
    text-align: center;
}

/*Menu*/
#menu{
    width: 100%;
    margin-top:10px;
    border-top:4px solid #fff;
    border-bottom:4px solid #fff;
}

#menu ul{
    display:flex;
    justify-content:center;
}

#menu ul li{
    height:auto;
    font-size: 20px;
    margin:15px auto;
    transition: all 300ms;
}

#menu ul li:hover{
    text-decoration:underline;
}

/*Seccion noticias*/
#principal{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:20px;
}

#seccion{
    width:60%;
    margin-right: 2rem;
}

#seccion .articulo{
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    margin: 0 auto;
    margin-top:1rem;
    padding:5px;
    text-align:justify;
    
}

#seccion .articulo div{
    margin: 0 auto;
    text-align:center;
}
#seccion .articulo img{
    width:40%;
}

#seccion .articulo h3{
    text-align:center;
    margin:10px auto;
}

#seccion .articulo p{
    font-size:1rem;
}

#seccion .articulo .date{
    margin-left:30px;
}

#seccion .articulo .autor{
    margin-left: 170px;
}


/*Lateral*/

#lateral{
    background-color: rgb(155, 253, 248);
    width:25%;
    text-align: center;
    padding:10px;
    min-height:100px;
}

#lateral .img-lateral{
    width: 100%;
}

#lateral h3{
    font-size:1.5rem;
    margin-top:5px;
    margin-bottom:5px;
}

#lateral p{
    font-size:1.5rem;
    margin-top:10px;
}

/*Pie de pagina*/

#footer{
    margin-top:10px;
    height:50px;
    width:100%;
    line-height:50px;
    text-align:center;
    border-top:4px solid #fff;
}

